@import "../../styles/scss/variables";
@import "../../styles/scss/global";
.input{
    margin: 1rem;
    padding: 1rem;
    .input-bar{
        &__invalid{
            border: 2px solid red;
        }
        background-color: $LightGrayishCyan2;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 10px;
        input{
            border: none;
            outline: none;
            text-align: right;
            font-family: 'Space Mono', monospace;
            font-weight: 700;
            font-size: $FontSize;
            color: $VeryDarkCyan;
            background-color: $LightGrayishCyan2;
            
        }
        img{
            height: 20%;
            align-self: center;
            padding-left: 1rem;
        }
    }

    .tip-pad{
        &__row{
            display: flex;
            justify-content: space-between;
            .percent-button{
                font-weight: 700;
                background-color: $VeryDarkCyan;
                margin: 0.5rem;
                padding: .5rem;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                width: 5rem;
                text-align: center;
    
                &__target{
                    background-color: $strongCyan;
                    color: $VeryDarkCyan;
                }
    
                &:focus{
                    background-color: $strongCyan;
                    color: $VeryDarkCyan;
                  }
    
            }
            input{
                color: white;
                font-family: 'Space Mono', monospace;
                outline: none;
                border: none;
            }
            
        }
    }
}