@import "../../styles/scss/variables";
@import "../../styles/scss/global";

.percent-button{
    font-weight: 700;
    background-color: $VeryDarkCyan;
    margin: 0.5rem;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 5rem;
    text-align: center;

    &__target{
        background-color: $strongCyan;
        color: $VeryDarkCyan;
    }

    &:focus{
        background-color: $strongCyan;
        color: $VeryDarkCyan;
      }
    }