//@import "../../styles/scss/variables";
@import "../../styles/scss/style";

.percent-button{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  background-color: $VeryDarkCyan;
  margin: .5rem;
  padding: .5rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 6rem;
  text-align: center;
  outline: none;

    &__target{
        background-color: $strongCyan;
        color: $VeryDarkCyan;
    }

    &:focus{
        background-color: $strongCyan;
        color: $VeryDarkCyan;
        border: none;
      }
    }